body {
    --main-color: #f1f3f5;
}

@media (prefers-color-scheme: light) {
    body {
        --main-color: #f1f3f5;
        --main-color__light: #fff;
        --border-color: #ddd;
        --font-color: #333;
        --code-bg-color: #f9f2f4;
        --code-color: #c7254e;
        --header-h4-bg: #f8f9fa;
        --img-invert: invert(0%);
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --main-color: #162c35;
        --main-color__light: #19313c;
        --border-color: #0d191f;
        --font-color: #ccc;
        --code-bg-color: #293c50;
        --code-color: #e5e5e5;
        --header-h4-bg: #15262d;
        --img-invert: invert(100%);
    }
}

body {
    margin: 0;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-color);
    overflow-y: scroll;
    color: var(--font-color);
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #e3e3e3;
}
::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
}

pre {
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

button,
input {
    border: none;
    outline: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

h2 code,
h3 code,
h4 code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

h2 code,
h3 code {
    border: 1px solid;
    padding: 3px 5px;
    font-weight: 600;
    border-radius: 2px;
}

h2 code {
    font-size: 15px;
}

h3 code {
    font-size: 13px;
}
