body {
    margin: 0;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f3f5;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

pre {
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
   padding: 0;
   margin: 0; 
   list-style: none;
}

.show {
    display: block;
}
.hide {
    display: none;
}

button, input {
    border: none;
    outline: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
}

/** common */
.w {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.w--home {
    width: 720px;
    padding: 0 10px;
}

/** top nav */
#top-nav {
    background: #f7f7f7;
    width: 100%;
    height: 60px;
}

#go-back {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    float: left;
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s;
}

#go-back:hover {
    background: #aaaaaa;
    color: #ffffff;
}

#go-home {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    line-height: 40px;
    top: 10px;
    cursor: pointer;
}

/** home */
#home-wrapper #title {
    text-align: center;
}

#home-wrapper #title h1 {
    font-size: 47px;
    font-weight: 100;
    font-family: sans-serif;
}

#home-wrapper #search input {
    border: 1px solid #cccccc;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 24px;
    box-shadow: 1px 1px 1px 0 #cccccc;
    border-radius: 2px;
}

#recomment-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 30px) / 4 ));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#recomment-list > .item {
    padding: 20px;
    border-radius: 3px;
    font-size: 14px;
    background: #666666;
    color: #ffffff;
    cursor: pointer;
    transition: .1px all;
}

#recomment-list > .item:hover {
    background: #555555;
}

/** sheet */
#sheet-wrapper {
    padding: 0 10px;
    font-family: sans-serif;
}

#sheet-wrapper #sheet-title h1 {
    font-size: 40px;
    font-weight: 100;
    height: 80px;
    line-height: 80px;
    font-family: sans-serif;
    margin: 0;
}

#sheet-wrapper #sheet-title h1 span {
    color: #999999;
}

#sheet-wrapper #sheet-body {
    position: relative;
    margin-bottom: 20px;
}

#sheet-wrapper #sheet-body .sheet-section {
    /* width: calc((100% - 40px) / 3); */
    position: absolute;
}

#sheet-wrapper #sheet-body .sheet-section .section-title h3{
    font-size: 18px;
    font-weight: normal;
    margin: 25px 0 15px 0;
}

#sheet-wrapper #sheet-body .sheet-section .section-body {
    background: #ffffff;
    box-shadow: 0 6px 8px rgba(85,102,119,.03), 0 1px 1px rgba(85,102,119,.4);
    overflow: auto;
}

#sheet-wrapper .section-body > pre, 
#sheet-wrapper .section-body > p {
    padding: 1em;
    margin: 0;
}

#sheet-wrapper .section-body > table{
    border-collapse:collapse; 
    width: 100%;
}

#sheet-wrapper .section-body > table thead {
    display: none;
}

#sheet-wrapper .section-body > table tr:not(:last-child)  {
    border-bottom: 1px solid #dddddd;
}
#sheet-wrapper .section-body > table td {
    padding: 8px 16px;
    vertical-align: top;
    line-height: 23px;
}

#sheet-wrapper .section-body > table td:first-child {
    white-space:nowrap
}

#sheet-wrapper .section-body > table td:nth-child(2):last-child {
    text-align: right;
}

#sheet-wrapper #sheet-body .h2-section {
    position: relative;
}
.h2-section+.h2-section {
    margin-top: 48px;
}

#sheet-wrapper #sheet-body .h2-section .h2-section-title{
    overflow: show;
}
#sheet-wrapper #sheet-body .h2-section .h2-section-title h2{
    font-size: 32px;
    font-weight: 100;
    margin: 0 0 16px 0;
}

#sheet-wrapper #sheet-body .h2-section .h2-section-title h2::before {
    content: "#";
    padding-right: 10px;
    color: #999999
}

#sheet-wrapper #sheet-body .sheet-section .section-body {
    font-size: 13.3333px !important;
}
#sheet-wrapper #sheet-body .sheet-section .section-body * {
    font-weight: normal !important;
}

#sheet-wrapper #sheet-body .sheet-section .section-body > *:not(:first-child) {
    border-top: 1px solid #dddddd;
}

#sheet-wrapper #sheet-body .sheet-section .section-body > p {
    font-size: 13px !important;
    line-height: 1.75;
}

#sheet-wrapper #sheet-body .sheet-section .section-body > p+p:not(:first-child) {
    margin-top: -1em;
    border-top: 0;
}

#sheet-wrapper #sheet-body .sheet-section .section-body > h4 {
    background: #f8f9fa;
    padding: .75em 1em;
    margin: 0;
    font-size: 12.333px !important;
}

#sheet-wrapper #sheet-body .sheet-section .section-body > ul {
    background: #f8f9fa;
    padding: .75em 2.5em;
    font-size: 12.333px;
    list-style: square;
}

#sheet-wrapper #sheet-body .sheet-section .section-body > ul li {
    padding: .25em 0;
}

#sheet-wrapper #sheet-body .sheet-section .section-body em {
    font-weight: bold !important;
    font-style: normal;
}

h2 code, h3 code, h4 code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

h2 code, h3 code {
    border: 1px solid;
    padding: 3px 5px;
    font-weight: 600;
    border-radius: 2px;
}

h2 code {
    font-size: 15px;
}

h3 code {
    font-size: 13px;
}

#sheet-wrapper #sheet-body .sheet-section .section-body :not(pre) code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    display: inline-block;
    padding: 0 4px;
    margin: 0 2px;
    border-radius: 2px;
    color: #c7254e;
    background-color: #f9f2f4;
}

#sheet-wrapper #sheet-body .sheet-section .section-body p > code {
    color: #c7254e;
    background-color: #f9f2f4;
}

#sheet-wrapper #sheet-body .sheet-section .section-body a {
    text-decoration: underline;
    transition: .1 all;
}

#sheet-wrapper #sheet-body .sheet-section .section-body a:hover {
    color: #666666;
}
















