@import "common.css";

$max-width: 1200px;

/* #loading */
#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s;
    z-index: 9999;
    &[data-cs-theme="light"] {
        background: rgba(0, 0, 0, 0.5);
    }
}

/** top nav */
$top_nav_height: 50px;
#top-nav {
    width: 100%;
    height: $top_nav_height;
    .top-nav__wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
        max-width: $max-width;
        margin: auto;
        height: 100%;
    }

    &[data-cs-theme="light"] {
        background: #f7f7f7;
        color: #333;
        border-bottom: 1px solid #ddd;
        box-shadow: 0px 0px 3px 0px #ddd;
    }

    $top_nav_btn_height: 40px;
    @mixin top_nav_btn {
        height: $top_nav_height;
        width: $top_nav_height;
        text-align: center;
        line-height: $top_nav_height;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
            border-bottom: 3px solid;
        }
    }
    #go-back {
        @include top_nav_btn();
    }

    #go-home {
        @include top_nav_btn();
        justify-self: center;
    }
    #build-html {
        @include top_nav_btn();
    }
}

/** home */
#home-wrapper {
    width: 720px;
    max-width: 100%;
    padding: 0 10px;
    margin: 20px auto 0;
    position: relative;
    .home-title {
        text-align: center;
        h1 {
            font-size: 47px;
            font-weight: 100;
            font-family: sans-serif;
            padding: 20px 0;
            margin: 0;
        }
    }
    .search input {
        border: 1px solid #eee;
        width: 100%;
        padding: 13px;
        font-size: 18px;
        line-height: 24px;
        box-shadow: 1px 1px 3px -1px #ddd;
        border-radius: 2px;
        background-color: #fff;
    }
}

#recomment-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    > .item {
        background: #ffffff;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 1px 1px 3px -1px #999;
        transition: all 0.1s;
        > .icon {
            line-height: 44px;
            display: inline-block;
            vertical-align: middle;
            height: 44px;
            padding: 6px;
        }
        > .title {
            line-height: 32px;
            display: inline-block;
            vertical-align: middle;
            padding: 4px 8px;
            width: calc(100% - 44px);
        }
        &:hover {
            margin: -3px 0 3px;
            box-shadow: 1px 1px 3px 0px #999;
        }
    }
}

/** sheet */
#sheet-wrapper {
    padding: 0 10px;
    font-family: sans-serif;
    width: $max-width;
    max-width: 100%;
    padding: 0 10px;
    margin: 20px auto 0;
    position: relative;
    #sheet-title {
        h1 {
            font-size: 40px;
            font-weight: 100;
            height: 80px;
            line-height: 80px;
            font-family: sans-serif;
            margin: 0;
            span {
                color: #999999;
            }
        }
    }
    #sheet-body {
        position: relative;
        margin-bottom: 20px;
        .h2-section {
            position: relative;
            .h2-section-title {
                overflow: show;
                h2 {
                    font-size: 32px;
                    font-weight: 100;
                    margin: 0 0 16px 0;
                    &::before {
                        content: "#";
                        padding-right: 10px;
                        color: #999999;
                    }
                }
            }

            .sheet-section {
                position: absolute;
                .section-title {
                    h3 {
                        font-size: 18px;
                        font-weight: normal;
                        margin: 25px 0 15px 0;
                    }
                }
                .section-body {
                    background: #ffffff;
                    box-shadow: 1px 1px 3px -1px #ccc;
                    border-radius: 5px;
                    overflow: auto;
                    font-size: 13.3333px !important;
                    * {
                        font-weight: normal !important;
                    }
                    > *:not(:first-child) {
                        border-top: 1px solid #dddddd;
                    }
                    > p {
                        padding: 1em;
                        margin: 0;
                        font-size: 13px !important;
                        line-height: 1.75;
                        > code {
                            color: #c7254e;
                            background-color: #f9f2f4;
                        }
                    }
                    > p + p:not(:first-child) {
                        margin-top: -1em;
                        border-top: 0;
                    }
                    > pre {
                        padding: 1em;
                        margin: 0;
                    }
                    > table {
                        border-collapse: collapse;
                        width: 100%;
                        tr:not(:last-child) {
                            border-bottom: 1px solid #dddddd;
                        }
                        td {
                            padding: 8px 12px;
                            vertical-align: top;
                            line-height: 23px;
                            > code:first-child {
                                margin-left: 0;
                            }
                            &:first-child {
                                white-space: nowrap;
                            }
                            &:nth-child(2):last-child {
                                text-align: right;
                            }
                        }
                        th {
                            padding: 8px 12px;
                            vertical-align: top;
                            line-height: 23px;
                            font-weight: 600 !important;
                            text-align: left;
                        }
                    }
                    > h4 {
                        background: #f8f9fa;
                        padding: 0.75em 1em;
                        margin: 0;
                        font-size: 12.333px !important;
                    }
                    > ul {
                        padding: 0.75em 2.5em;
                        font-size: 13px;
                        list-style: square;
                        font-size: 12.3333px;
                        > ul {
                            padding: 0.5em 0 0.5em 2.5em;
                            font-size: 12.333px;
                            list-style: circle;
                        }
                        li {
                            padding: 0.25em 0;
                        }
                    }
                    em {
                        font-weight: bold !important;
                        font-style: normal;
                    }
                    :not(pre) code {
                        font-family: Consolas, Monaco, "Andale Mono",
                            "Ubuntu Mono", monospace;
                        display: inline-block;
                        padding: 0 4px;
                        margin: 0 2px;
                        border-radius: 2px;
                        color: #c7254e;
                        background-color: #f9f2f4;
                    }
                    span.sn {
                        font-family: Consolas, Monaco, "Andale Mono",
                            "Ubuntu Mono", monospace;
                        display: inline-block;
                        width: 0.875rem;
                        height: 0.875rem;
                        line-height: 0.875rem;
                        background: #aaa;
                        color: #fff;
                        text-align: center;
                        vertical-align: middle;
                        margin: 0 2px;
                        border-radius: 50%;
                    }
                    *:hover > span.sn {
                        background: #666;
                        transition: all 0.3s;
                    }
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .h2-section + .h2-section {
            margin-top: 48px;
        }
        a {
            text-decoration: underline;
            transition: 0.1 all;
            &:hover {
                color: #666666;
            }
        }
    }
}

$max-nav-height: 80vh;
#sheet-nav {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 245px;
    opacity: 0.9;
    max-height: $max-nav-height;
    .nav-btn {
        display: grid;
        width: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
        &__item {
            margin-top: 3px;
            border-radius: 3px;
            padding: 0 10px;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            background: #666;
            color: #fff;
            cursor: pointer;
            opacity: 0.5;
            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }
    .nav-content {
        border-right: 3px solid #999;
        box-shadow: -2px 2px 8px -1px #aaa;
        width: 200px;
        padding: 10px;
        background: #fff;
        overflow-y: auto;
        max-height: $max-nav-height;
        .nav-item {
            cursor: pointer;
            font-size: 0.875em;
            padding: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.nav-type-H2 {
                font-weight: 600;
            }
            &.nav-type-H3 {
                padding-left: 12px;
            }
            &:hover {
                color: #c7254e;
                background-color: #f9f2f4;
            }
        }
    }
}

#github {
    font-size: 16px;
    vertical-align: super;
}

@media screen and (max-width: 500px) {
    #home-wrapper #title h1 {
        font-size: 26px;
        font-weight: 400;
    }

    #recomment-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #sheet-wrapper #sheet-title h1 {
        font-size: 26px;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
    }
}
