@import "common.css";
/* #loading */
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s;
  z-index: 9999;
}
#loading[data-cs-theme=light] {
  background: rgba(0, 0, 0, 0.5);
}

/** top nav */
#top-nav {
  width: 100%;
  height: 50px;
}
#top-nav .top-nav__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}
#top-nav[data-cs-theme=light] {
  background: var(--main-color__light);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 0px 3px 0px var(--border-color);
}
#top-nav #go-back {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.1s;
}
#top-nav #go-back:hover {
  border-bottom: 3px solid;
}
#top-nav #go-home {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.1s;
  justify-self: center;
}
#top-nav #go-home:hover {
  border-bottom: 3px solid;
}
#top-nav #build-html {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.1s;
}
#top-nav #build-html:hover {
  border-bottom: 3px solid;
}

/** home */
#home-wrapper {
  width: 720px;
  max-width: 100%;
  padding: 0 10px;
  margin: 20px auto 0;
  position: relative;
}
#home-wrapper .home-title {
  text-align: center;
}
#home-wrapper .home-title h1 {
  font-size: 47px;
  font-weight: 100;
  font-family: sans-serif;
  padding: 20px 0;
  margin: 0;
}
#home-wrapper .search input {
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 13px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 1px 1px 3px -1px var(--border-color);
  border-radius: 2px;
  background-color: var(--main-color__light);
  color: var(--font-color);
}

#recomment-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
#recomment-list > .item {
  background: var(--main-color__light);
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 3px -1px var(--border-color);
  transition: all 0.1s;
}
#recomment-list > .item > .icon {
  line-height: 44px;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  padding: 6px;
}
#recomment-list > .item > .icon svg[fill="#333333"],
#recomment-list > .item > .icon svg[fill="#092361"],
#recomment-list > .item > .icon svg[fill="#4d5150"] {
  filter: var(--img-invert);
}
#recomment-list > .item > .title {
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px;
  width: calc(100% - 44px);
}
#recomment-list > .item:hover {
  margin: -3px 0 3px;
}

/** sheet */
#sheet-wrapper {
  padding: 0 10px;
  font-family: sans-serif;
  width: 1200px;
  max-width: 100%;
  padding: 0 10px;
  margin: 20px auto 0;
  position: relative;
}
#sheet-wrapper #sheet-title h1 {
  font-size: 40px;
  font-weight: 100;
  height: 80px;
  line-height: 80px;
  font-family: sans-serif;
  margin: 0;
}
#sheet-wrapper #sheet-title h1 span {
  color: #999999;
}
#sheet-wrapper #sheet-body {
  position: relative;
  margin-bottom: 20px;
}
#sheet-wrapper #sheet-body .h2-section {
  position: relative;
}
#sheet-wrapper #sheet-body .h2-section .h2-section-title {
  overflow: visible;
}
#sheet-wrapper #sheet-body .h2-section .h2-section-title h2 {
  font-size: 32px;
  font-weight: 100;
  margin: 0 0 16px 0;
}
#sheet-wrapper #sheet-body .h2-section .h2-section-title h2::before {
  content: "#";
  padding-right: 10px;
  color: #999999;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.333;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-title h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 25px 0 15px 0;
  counter-reset: h3Title;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body {
  background: var(--main-color__light);
  box-shadow: 1px 1px 3px -1px var(--border-color);
  border-radius: 5px;
  overflow: auto;
  font-size: 13.3333px !important;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body * {
  font-weight: normal !important;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > *:not(:first-child) {
  border-top: 1px solid var(--border-color);
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > p {
  padding: 1em;
  margin: 0;
  font-size: 13px !important;
  line-height: 1.75;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > p > code {
  color: #c7254e;
  background-color: #f9f2f4;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > p + p:not(:first-child) {
  margin-top: -1em;
  border-top: 0;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > pre {
  padding: 1em;
  margin: 0;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > table {
  border-collapse: collapse;
  width: 100%;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > table tr:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > table td {
  padding: 8px 12px;
  vertical-align: top;
  line-height: 23px;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > table td > code:first-child {
  margin-left: 0;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > table td:first-child {
  white-space: nowrap;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > table td:nth-child(2):last-child {
  text-align: right;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > table th {
  padding: 8px 12px;
  vertical-align: top;
  line-height: 23px;
  font-weight: 600 !important;
  text-align: left;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > h4 {
  background: var(--header-h4-bg);
  padding: 0.75em 1em;
  margin: 0;
  font-size: 12.333px !important;
  counter-increment: h3Title 1;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > h4::before {
  font-weight: bold !important;
  content: "[" counter(h3Title) "]";
  margin-right: 6px;
  padding: 3px;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > ul {
  padding: 0.75em 2.5em;
  font-size: 13px;
  list-style: square;
  font-size: 12.3333px;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > ul > ul {
  padding: 0.5em 0 0.5em 2.5em;
  font-size: 12.333px;
  list-style: circle;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body > ul li {
  padding: 0.25em 0;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body em {
  font-weight: bold !important;
  font-style: normal;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body :not(pre) code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  display: inline-block;
  padding: 0 4px;
  margin: 0 2px;
  border-radius: 2px;
  color: var(--code-color);
  background-color: var(--code-bg-color);
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body span.sn {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  line-height: 0.875rem;
  background: #aaa;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0 2px;
  border-radius: 50%;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body *:hover > span.sn {
  background: #666;
  transition: all 0.3s;
}
#sheet-wrapper #sheet-body .h2-section .sheet-section .section-body img {
  max-width: 100%;
}
#sheet-wrapper #sheet-body .h2-section + .h2-section {
  margin-top: 48px;
}
#sheet-wrapper #sheet-body a {
  text-decoration: underline;
  transition: 0.1 all;
}
#sheet-wrapper #sheet-body a:hover {
  color: #666666;
}

#sheet-nav {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 245px;
  opacity: 0.9;
  max-height: 80vh;
}
#sheet-nav .nav-btn {
  display: grid;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#sheet-nav .nav-btn__item {
  margin-top: 3px;
  border-radius: 3px;
  padding: 0 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background: #666;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
}
#sheet-nav .nav-btn__item:hover, #sheet-nav .nav-btn__item.active {
  opacity: 1;
}
#sheet-nav .nav-content {
  border-right: 3px solid #999;
  box-shadow: -2px 2px 8px -1px var(--border-color);
  width: 200px;
  padding: 10px;
  background: var(--main-color);
  overflow-y: auto;
  max-height: 80vh;
  transition: all 0.6s;
}
#sheet-nav .nav-content.hide {
  display: block;
  opacity: 0;
  pointer-events: none;
  margin-left: -20px;
}
#sheet-nav .nav-content .nav-item {
  cursor: pointer;
  font-size: 0.875em;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sheet-nav .nav-content .nav-item.nav-type-H2 {
  font-weight: 600;
}
#sheet-nav .nav-content .nav-item.nav-type-H3 {
  padding-left: 12px;
}
#sheet-nav .nav-content .nav-item.nav-type-H3.hide {
  display: none;
}
#sheet-nav .nav-content .nav-item:hover {
  color: #c7254e;
  background-color: var(--main-color__light);
}
#sheet-nav .nav-content .nav-item:hover .next-ctrl {
  animation: blink 1s 1;
}
#sheet-nav .nav-content .nav-item .next-ctrl {
  display: inline-block;
  padding: 2px 0;
  width: 18px;
  text-align: center;
}
@keyframes blink {
  50% {
    color: transparent;
  }
}

#github {
  font-size: 16px;
  vertical-align: super;
}

@media screen and (max-width: 500px) {
  #home-wrapper #title h1 {
    font-size: 26px;
    font-weight: 400;
  }

  #recomment-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #sheet-wrapper #sheet-title h1 {
    font-size: 26px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
